body {
    background: #f8f9fa;
}

.login-card {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    font-weight: bold;
}

.icon {
    max-height: 10px;
    max-width: 10px;
}

.selected {
    border: 1px solid lightgreen;
}

#userInfo {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    margin-top: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.dataTables_info {
    text-align: center;
}

.dataTables_wrapper .dataTables_length {
    bottom: 0;
}

.action_icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
    transition: transform 0.2s ease-in-out;
}

.action_icon:hover {
    transform: scale(1.1);
}

#update-project-form, #add-project-form {
    border-radius: 8px;
    padding: 20px;
}

.input-group-text {
    font-weight: bold;
}

.btn {
    font-weight: bold;
}

.selectField {
    max-width: 25rem;
}