<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div class="container-fluid">
    <div class="row bg-black">
        <div class="col"></div>
        <div class="col-5">
            <div th:replace="fragments/navbar :: topNavbar"></div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row mt-5 pt-4">
        <div class="col-lg"></div>
        <div class="col-5">
            <div class="row">
                <div class="col-10 text-start">
                    <h2 class="text-start title">User Dashboard</h2>
                </div>
            </div>
            <div class="row card p-5 mt-3">
                <table class="uk-table uk-table-hover uk-table-striped" id="dataTable" style="width:100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th style="width: 20%; text-align: right;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${userList}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.role}"></td>
                        <td style="text-align: right;">
                            <button class="btn btn-sm btn-outline-light edit-btn">
                                <img alt="edit" class="action_icon" src="/images/edit.png">
                            </button>
                            <a class="btn btn-sm btn-outline-danger"
                               th:href="@{/web/user/{id}/delete(id=${user.id})}">
                                <img alt="delete" class="action_icon" src="/images/delete.png">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg"></div>

    </div>
</div>
<script>
    document.getElementById("users-menu").classList.add("selected");
</script>
</body>
</html>