<div th:fragment="addFeedbackModal">
    <div aria-hidden="true" aria-labelledby="addFeedbackModalLabel" class="modal fade" id="addFeedbackModal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFeedbackModalLabel">Add Feedback</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <h1>HI</h1>
                <!--                <div class="modal-body">-->
                <!--                    <form action="#" method="post">-->
                <!--                        <div class="input-group mb-3">-->
                <!--                            <span class="input-group-text">Title</span>-->
                <!--                            <input aria-label="Title" class="form-control" id="title" placeholder="title" required-->
                <!--                                   th:field="*{title}" type="text">-->
                <!--                        </div>-->
                <!--                        <div class="input-group mb-3">-->
                <!--                            <span class="input-group-text">Category</span>-->
                <!--                            <input aria-label="Category" class="form-control" id="category" placeholder="category"-->
                <!--                                   required-->
                <!--                                   th:field="*{category}" type="text">-->
                <!--                        </div>-->
                <!--                        <div class="input-group mb-3">-->
                <!--                            <span class="input-group-text">Priority</span>-->
                <!--                            <input aria-label="Priority" class="form-control" id="priority" placeholder="priority"-->
                <!--                                   required-->
                <!--                                   th:field="*{priority}" type="text">-->
                <!--                        </div>-->
                <!--                        <div class="input-group mb-3">-->
                <!--                            <span class="input-group-text">Description</span>-->
                <!--                            <input aria-label="Description" class="form-control" id="description"-->
                <!--                                   placeholder="description"-->
                <!--                                   required-->
                <!--                                   th:field="*{description}" type="text">-->
                <!--                        </div>-->
                <!--                        <div class="input-group mb-3">-->
                <!--                            <span class="input-group-text">Attachment</span>-->
                <!--                            <input aria-label="Attachment" class="form-control" id="attachment" placeholder="attachment"-->
                <!--                                   required-->
                <!--                                   th:field="*{attachment}" type="text">-->
                <!--                        </div>-->
                <!--                        <button class="btn login-button mt-4 btn-outline-primary" th:text="Add Feedback"-->
                <!--                                type="submit"></button>-->
                <!--                    </form>-->

                <!--                </div>-->
            </div>
        </div>
    </div>
</div>