<nav class="navbar navbar-expand-lg navbar-dark bg-dark main-menu fixed-top" id="topNavbar"
     sec:authorize="isFullyAuthenticated()"
     th:fragment="topNavbar">
    <div class="container-fluid">
        <a class="navbar-brand home-menu" href="#" id="home-menu" th:href="@{/web/feedbacks/dashboard}">FeedBloom</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarNav" data-bs-toggle="collapse"
                type="button">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav nav nav-tabs me-auto mb-2 mb-lg-0">

                <li class="nav-item" id="dashboard-menu">
                    <a class="nav-link hover-effect text-nowrap" data-menu="dashboard"
                       href="#"
                       th:href="@{/web/feedbacks/dashboard}">Feed Dashboard</a>
                </li>
                <li class="nav-item" id="projects-menu"
                    sec:authorize="hasRole('ROLE_MANAGER') || hasRole('ROLE_SUPER_ADMIN')">
                    <a class="nav-link hover-effect text-nowrap" data-menu="projects"
                       href="#"
                       th:href="@{/web/project/dashboard}">Projects</a>
                </li>
                <li class="nav-item" id="users-menu"
                    sec:authorize="hasRole('ROLE_MANAGER') || hasRole('ROLE_SUPER_ADMIN')">
                    <a class="nav-link hover-effect" data-menu="users" href="#"
                       th:href="@{/web/user/dashboard}">Users</a>
                </li>
            </ul>

            <div class="text-light font-weight-bolder">

            </div>

            <div class="profile" style="position: relative;">

                <div class="dropdown">

                    <button aria-expanded="false" class="btn btn-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" id="dropdownMenuLink" sec:authorize="isFullyAuthenticated()"
                            type="button">
                        <span th:text="${user.name}"></span>
                    </button>

                    <ul aria-labelledby="dropdownMenuLink" class="dropdown-menu" id="userInfo">
                        <li sec:authorize="isFullyAuthenticated()"><a class="dropdown-item" href="#"
                                                                      th:href="@{/web/profile}">Profile</a></li>
                        <li sec:authorize="isFullyAuthenticated()"><a class="dropdown-item" href="#"
                                                                      th:href="@{/web/profile-edit}">Edit Profile</a>
                        </li>
                        <li sec:authorize="isFullyAuthenticated()"><a class="dropdown-item" href="#"
                                                                      th:href="@{/web/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>

        </div>


    </div>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                lengthMenu: [5, 10, 25, 50],
                columnDefs: [
                    {orderable: false, targets: [2]}
                ]
            });
        });
    </script>
</nav>