<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container-fluid">
    <div class="row bg-black">
        <div class="col"></div>
        <div class="col-5">
            <div th:replace="fragments/navbar :: topNavbar"></div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row mt-5 pt-4">
        <div class="col-lg"></div>

        <div class="col-7" id="showFeedback">
            <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"></div>
            <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>

            <div class="row mb-3 mt-3">
                <div class="text-start card p-3">
                    <div class="row">
                        <span class="col-lg-10 fs-1 border-0" th:text="${feedbackDto.getTitle()}"></span>
                        <div class="col mt-3 text-end" th:if="${canEdit == true}">
                            <button class="btn btn-info" id="feedbackEditBtn">Edit Feedback</button>
                        </div>
                    </div>

                    <p><strong>Feedback By:</strong> <strong
                            th:text="${feedbackDto.getFeedbackBy().getEmail()}"></strong></p>
                </div>

            </div>

            <div class="row card p-4 mt-3">
                <div class="row">
                    <div class="col">
                        <p><strong>Project:</strong> <span th:text="${feedbackDto.getProjectName()}"></span></p>
                        <p><strong>Category:</strong> <span th:text="${feedbackDto.getCategory()}"></span></p>
                        <p><strong>Priority:</strong> <span th:text="${feedbackDto.getPriority()}"></span></p>
                    </div>
                    <div class="col text-end">
                        <p><strong>Status:</strong>
                            <span id="statusText"
                                  sec:authorize="hasRole('ROLE_USER')"
                                  th:text="${feedbackDto.getStatus()}">
                            </span>

                            <select class="selectpicker"
                                    id="onGoStatus" name="status" required
                                    sec:authorize="hasRole('ROLE_MANAGER') || hasRole('ROLE_SUPER_ADMIN')">
                                <option th:each="status : ${statuses}"
                                        th:selected="${feedbackDto.getStatus().equals(status)}"
                                        th:text="${status}"
                                        th:value="${status}"></option>
                            </select> <br>
                            <span class="text-warning" id="notificationText">
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><strong>Description:</strong></p>
                        <p th:text="${feedbackDto.getDescription()}"></p>
                    </div>
                </div>
            </div>
            <div class="row card p-4 mt-3">
                <div th:replace="fragments/feedback/feedbackCommentModal :: showFeedbackComment"></div>
                <div th:replace="fragments/deleteConfirmationModal :: deleteModal"></div>
            </div>

        </div>

        <div class="col-7 d-none" id="showEditFeedback">
            <div th:replace="fragments/feedback/feedbackEditModal :: showFeedbackUpdate"></div>
        </div>
        <div class="col-lg card p-4 mt-3">
            <strong>Feedback History</strong>
            <div class="mt-3" id="feedbackHistoryContainer" th:if="${feedbackHistories != null}">
                <div class="feedback-history-item mt-3" th:each="feedbackHistory : ${feedbackHistories}">
                    <img alt="edit" class="action_icon" src="/images/feedbackHistory.png">
                    <span th:text="${#temporals.format(feedbackHistory.createdAt, 'h:mm:ss a dd/MM/YYYY')}"></span> <br>
                    <strong th:text="${feedbackHistory.getChangedBy().getEmail()}"></strong> <br>
                    <span th:text="${feedbackHistory.getChangeDescription()}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let feedbackId = /*[[${feedbackDto.getId()}]]*/[];
    /*]]>*/
</script>
<script th:src="@{/js/feedbackDetails.js}" type="text/javascript"></script>
</body>

</html>
